body{
    background-color: #fffbf7;
    margin: 0px;
    padding: 0px;
}
h1 {
    color: #025157;
    font-weight: bold;
    text-align: center;
}
h3{
    color: #46484c;
    text-align: center;
}
form{
    text-align: center;
}
button{
    color:#fff;
    background-color: #025157;
}
.header{
    margin: 40px 20px 0px;
    font-size: 0px;
    font-family: sans-serif;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
}
ul {
    margin-block-start: 0px;
}
li{
    display: inline;
}
.header > * {
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.logo {
    width: 15%;
}
.logo img{
    height: 100%;
}
.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    height:45px;
} 
.action {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
.action > *{
    margin: 0px 5px;
}
.menu-item{
    display: inline;
    margin: 0px 12.5px;
    color: #025157;
}
.action a{
    color: #67b54b;
}
.action button{
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: none;
    border-radius:5px;
}